* {
    ma
}
a{
    text-decoration: none;
    color: #000;
}

ul{
    list-style: none;
    margin: 0; 
    padding: 0;
}
li {
    display: inline-block;
}

#header {
    text-align: center;
    margin: 60px 0;
}
header a{
    font-size: 40px;
    text-decoration: none;
    color: #000;
}

#nav ul.menu {
    float: left;

}
#nav ul.icons {
    float: right;
}




#main .featured header h2 {
    text-align: center;
    padding: 50px 40px 0;
}

#main .featured header a img {
    width: 100%;

}
#footer {
    display: flex; /*부모에게 설정*/
}

#footer .contact, #footer .info {
    flex:1; /* 각각 비율이 1:1 */
}
/*
#footer .info {
    flex: 2; ---------- 1:2 로 만들고 싶을때 예시
}
*/
#footer .contact .inputs {

}
#footer .contact .inputs label {

}
#footer .contact .inputs input {
    width: 100%;
    height: 60px;
    border: solid 1px rgb(167, 167, 167);
    box-sizing: border-box;
    margin-bottom: 30px;
}

#footer .contact .inputs textarea {
    box-sizing: border-box;
    width: 100%;
    border: solid 1px rgb(167, 167, 167);
    margin-bottom: 30px;
}

#footer .contact .submit input {
    border: solid 1px rgb(167, 167, 167);
    width: ;
    background:#fff;
    padding: 15px 10px;

}

#footer .info section {
    display: flex;
}
#footer .info section  h3 {
    flex: 1;
}
#footer .info section  p {
    flex: 2;
}
#footer .info section  ul {
    flex: 2;
}

#copyright {
    background-color: #333;
    padding: 20px;
    text-align: center;
}
#copyright p {
    color: #ccc;
}

